.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: lightslategray;
}

p {
  cursor: pointer;
}

p:hover {
  color: rgb(77, 76, 76);
}
