.header {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-right: 20px;
  margin: -10px;
  /* margin-right: -10px; */
  background-color: black;
  background-image: url("D:/UniStuff/News Website/news-website/news-website/src/assets/background.jpg");
  background-size: cover;
  background-position: 50% 42%;
}
h1 {
  color: blue;
  width: max-content;
  padding-left: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
}
