<div class="card">
  <div class="title" (click)="openUrl(article.url)">
    <h1>{{ articleTitle }}</h1>
  </div>
  <div class="card-feed">
    <img class="card-img" [src]="article.urlToImage" />

    <div class="card-text">
      <p class="description">
        {{ articleDescription }}
      </p>
      <div class="footer">
        <p class="author">
          {{ articleAuthor }} | {{ articleSource | uppercase }}
        </p>
        <p class="date">
          {{ articlePublishedAt | date }}
        </p>
      </div>
    </div>
  </div>
  <div class="extra"></div>
</div>
