.card {
  font-family: "Times New Roman", Times, serif;
  border-radius: 20px;
  outline: solid rgb(0, 0, 0);
  outline-width: 1px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #292929;
}
.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.title {
  cursor: pointer;
}
.title:hover {
  text-decoration: underline;
}
.title > h1 {
  margin-top: 5px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: #ffa31a;
}
.card-feed {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card-text {
  font-size: 16px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img {
  max-width: 50%;
  max-height: 50%;
  min-width: 40%;
  max-width: 40%;
  object-fit: cover;
}
.author {
  font-family: "PT Serif", serif;
  font-style: normal;
  color: #a1236d;
  letter-spacing: 1px;
  font-size: 13px;
}
.description {
  font-family: "PT Serif", serif;
  font-style: normal;
  color: #edf2f4;
}
.date {
  font-family: "PT Serif", serif;
  font-style: italic;
  justify-content: flex-end;
  color: #8d99ae;
}
@media only screen and (max-width: 500px) {
  .card-feed {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }
  .card-text {
    max-width: 100%;
  }
  .card-img {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 5px;
  }
  .title > h1 {
    font-size: 15px;
  }
  .description {
    font-size: 12px;
  }
  .author {
    font-size: 10px;
  }
  .date {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) {
  .title > h1 {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
  }
  .author {
    font-size: 12px;
  }
  .date {
    font-size: 14px;
  }
}
