.card {
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  outline-width: 1px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
}
.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.datetime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date {
  color: #707070;
  margin-right: 10px;
}
.time {
  color: #00749e;
}
.title {
  cursor: pointer;
  margin-bottom: 4px;
}
.title:hover {
  text-decoration: underline;
}
.title > h1 {
  margin-top: 5px;
  font-size: 20px;
  color: #ffff;
  line-height: 1.2;
}
.card-feed {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card-text {
  font-size: 16px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
.card-img {
  width: 230px;
  max-height: 130px;
  object-fit: cover;
}
.author {
  font-style: normal;
  color: #707070;
  letter-spacing: 1px;
  font-size: 13px;
}
.description {
  font-style: normal;
  color: #e0e6e9;
}

@media only screen and (max-width: 600px) {
  .card-feed {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }
  .card-text {
    max-width: 100%;
  }
  .card-img {
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 5px;
  }
  .title > h1 {
    font-size: 15px;
  }
  .description {
    font-size: 12px;
  }
  .author {
    font-size: 10px;
  }
  .card-header {
    flex-direction: column-reverse;
  }
  .datetime {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .card-header {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 500px) {
  .title > h1 {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
  }
  .author {
    font-size: 12px;
  }
  .datetime {
    font-size: 14px;
  }
}
