.toolbar {
  background: #1d1d1d;
  color: white;
  overflow: hidden;
}
.toolbar > h1 {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
mat-sidenav {
  margin: 16px;
  width: 12.5%;
  border-right: none;
  background: #7c7c7c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  overflow: hidden;
}
.dashboard {
  background-color: #4b4b4b;
}
.content {
  height: calc(100vh - 150px);
  margin: 16px;
  margin-left: 5%;
  right: 5%;
  display: block;
  padding-top: 1%;
  padding-bottom: 2%;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 2rem;
  color: lightgray;
  background-color: #383838;
  border-radius: 20px;
}
.content > h1 {
  font-family: "Times New Roman", Times, serif;
  padding-left: 2%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}
@media (max-width: 800px) {
  .content {
    margin-left: 2%;
    margin-right: 2%;
  }
  .mat-sidenav {
    width: 35%;
  }
}
