<mat-toolbar class="toolbar">
  <div class="logo">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <h1 (click)="homeButton()">Daily News</h1>
  </div>
  <div class="searchBox">
    <input
      type="text"
      class="searchInput"
      placeholder="Search..."
      (keyup)="onChange($event)"
    />
    <button class="searchButton" href="#">
      <i class="material-icons"> search </i>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="dashboard">
  <mat-sidenav #sidenav="matSidenav">
    <app-categories></app-categories>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <h1>{{ getCategory() | titlecase }}</h1>
      <app-feed></app-feed>
    </div>
    <app-spinner></app-spinner>
  </mat-sidenav-content>
</mat-sidenav-container>
