/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
}
::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0c0c0c;
}
