.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.icon {
  padding-bottom: 2rem;
}
p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

p:hover {
  color: rgb(206, 206, 206);
}

@media only screen and (min-width: 100px) {
  p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 410px) {
  p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 520px) {
  p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 600px) {
  p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 990px) {
  p {
    font-size: 18px;
  }
}
