<div class="categories">
  <p class="icon" id="general">
    <img src="/assets/general.png" />
    General
  </p>
  <p class="icon" id="business">
    <img src="/assets/business.png" />
    Business
  </p>
  <p class="icon" id="entertainment">
    <img src="/assets/entertainment.png" />
    Entertainment
  </p>
  <p class="icon" id="health">
    <img src="/assets/health.png" />
    Health
  </p>
  <p class="icon" id="science">
    <img src="/assets/science.png" />
    Science
  </p>

  <p class="icon" id="sports">
    <img src="/assets/sports.png" />
    Sports
  </p>
  <p class="icon" id="technology">
    <img src="/assets/technology.png" />
    Technology
  </p>
</div>
