<div class="categories">
  <div class="icon">
    <p id="general" (click)="setUrl('general'); setCategory('general')">
      General
    </p>
  </div>

  <div class="icon">
    <p id="business" (click)="setUrl('business'); setCategory('business')">
      Bussiness
    </p>
  </div>

  <div class="icon">
    <p
      id="entertainment"
      (click)="setUrl('entertainment'); setCategory('entertainment')"
    >
      Entertainment
    </p>
  </div>

  <div class="icon">
    <p id="health" (click)="setUrl('health'); setCategory('health')">
      Healthcare
    </p>
  </div>

  <div class="icon">
    <p id="science" (click)="setUrl('science'); setCategory('science')">
      Science
    </p>
  </div>

  <div class="icon">
    <p id="sports" (click)="setUrl('sports'); setCategory('sports')">Sports</p>
  </div>

  <div class="icon">
    <p
      id="technology"
      (click)="setUrl('technology'); setCategory('technology')"
    >
      Technology
    </p>
  </div>
</div>
