<div class="categories">
  <div class="icon">
    <p id="general" (click)="setUrl('general')">General</p>
  </div>

  <div class="icon">
    <p id="business" (click)="setUrl('business')">Bussiness</p>
  </div>

  <div class="icon" id="entertainment">
    <p (click)="setUrl('entertainment')">Entertainment</p>
  </div>

  <div class="icon" id="health">
    <p (click)="setUrl('health')">Healthcare</p>
  </div>

  <div class="icon" id="science">
    <p (click)="setUrl('science')">Science</p>
  </div>

  <div class="icon" id="sports">
    <p (click)="setUrl('sports')">Sports</p>
  </div>

  <div class="icon" id="technology">
    <p (click)="setUrl('technology')">Technology</p>
  </div>
</div>
