.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
img {
  width: 4ch;
  padding-right: 5px;
  filter: invert(70%);
}
.icon :hover {
  filter: invert(0%);
  color: #5cb85c;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.9375rem;
}
p {
  color: #70c8e2;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  cursor: pointer;
  padding-top: 0.6rem;
  padding-left: 0.1rem;
}

.icon:hover + p + img {
  color: #f41dff;
  color: #5cb85c;
  filter: invert(0%);
}

@media (max-width: 599px) {
  p {
    font-size: 11px;
  }
}
@media only screen and (min-width: 600px) {
  p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 990px) {
  p {
    font-size: 18px;
  }
}
